/* import IBM Plex family */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* import Reddit Sans */
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
  --app-min-vw: 390px;
  --font-serif: IBM Plex Serif;
  --font-sans: Reddit Sans;
  --font-mono: IBM Plex Mono;
  --color-theme-dark-orange: #ff4500; /* reddit orange */
  --color-theme-mid-orange: #ff6830;
  --color-theme-light-orange: #fcdacc;
  --color-text-body: #282828; /* gray-700 */ /* alternative: #282828; */
}

body {
  background-color: #f7f4ec;
}
